html, body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4.1255em;
    background: #00bcd4;
    z-index: 0;
}

header {
    margin-bottom: 1em;
    padding: 1em;
    color: white;
}

header h1, #back {
    line-height: 1.417em;
}

header h1 {
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: 600;
}

body > div {
    position: relative;
    z-index: 1;
    width: 95%;
    width: calc(100% - 2em);
    overflow: hidden;
    margin: 0 auto 1em;
    white-space: nowrap;
}

header h1, body > div {
    max-width: 800px;
}

section, #lists > div + ol, #lists > ul > li,
#lists li > div:before, #lists li > div:after,
#player .segments
{
    transition-duration: 750ms;
}

section {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-right: -.25em;
    white-space: normal;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    transition-property: margin-left;
}

#lists {
    overflow: hidden;
    white-space: nowrap;
}

#lists h2 {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    color: #aaa;
    cursor: pointer;
}

#lists h2.active {
    color: #000;
    cursor: default;
}

#lists > div {
    padding-left: .75em;
    overflow: hidden;
}

#lists > div + ol {
    position: relative;
    min-height: 23.244em;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    transition-property: margin-left;
}

#lists > div + ol:before, #player:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 75px;
    height: 15px;
    margin-top: -7px;
    margin-left: -37px;
    background: -webkit-repeating-linear-gradient(105deg, #00bcd4, #00bcd4 5px, #fff 5px, #fff 10px);
    background: -moz-repeating-linear-gradient(105deg, #00bcd4, #00bcd4 5px, #fff 5px, #fff 10px);
    background: repeating-linear-gradient(105deg, #00bcd4, #00bcd4 5px, #fff 5px, #fff 10px);
    background-size: 110%;
    -webkit-animation: move 350ms linear infinite;
    -moz-animation: move 350ms linear infinite;
    animation: move 350ms linear infinite;
}

@-webkit-keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: 10px;
    }
}

@-moz-keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: 10px;
    }
}

@keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: 10px;
    }
}

#lists > div + ol.loaded:before, #player.loaded:before {
    display: none;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

#lists ul, #lists ol {
    list-style-type: none;
    padding: 0;
}

#lists h2, #lists > ul, #lists > ol, #player .segments h2 span {
    line-height: 1.437em;
}

#lists > ul, #lists > ol {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;
}

#lists > ul > li {
    height: 2.437em;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
}

#lists li > div {
    position: relative;
    padding: .5em .75em;
    background: #e0e0e0;
    cursor: pointer;
}

#lists li > div:before, #lists li > div:after {
    content: "";
    position: absolute;
    top: 50%;
    right: .75em;
    width: .937em;
    height: 1px;
    -webkit-transform-origin: 50% .5px;
    -moz-transform-origin: 50% .5px;
    transform-origin: 50% .5;
    background: currentColor;
}

#lists li > div:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

#lists li.open > div:before, #lists li.open > div:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#lists li ol {
    margin: .312em 0;
}

#lists ol li {
    overflow: hidden;
    padding: .5em .75em;
    cursor: pointer;
}

#lists ol li:nth-child(even), #player .segments li:nth-child(even) {
    background: #fafafa;
}

#lists ol li:hover, #player .segments ol li:hover {
    background: #f0f0f0;
}

#lists time, #lists time + span {
    float: left;
    margin-right: 1.5em;
}

#lists time + span {
    clear: left;
    color: #585858;
}

#lists h3 {
    margin: 0;
    font-size: 1em;
}

#lists h3 span {
    display: block;
    font-weight: normal;
}

#lists h3, #lists h3 span {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FIXME bring the footer back in to view somehow. */
#player {
    position: relative;
    height: 100vh;
}

#back {
    float: left;
    width: 1em;
    overflow: hidden;
    margin-right: .5em;
    font-size: 1.5em;
    white-space: nowrap;
    cursor: pointer;
}

#back:before {
    content: "\3008";
    display: inline-block;
    margin-right: .5em;
    margin-right: 1em;
}

#player > div {
    position: relative;
    height: calc(100% - 5.1255em);
    overflow: hidden;
    padding-left: 1.437em;
}

#player .segments {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(-75% + 1.437em);
    width: 75%;
    max-width: 600px;
    background: white;
}

#player .segments.open {
    left: 0;
}

#player .segments h2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    font-size: 1em;
    background: #f0f0f0;
    cursor: pointer;
}

#player .segments h2 span {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: -.7185em;
    text-indent: -1.437em;
}

#player .segments h2, #player .segments h2 span {
    width: 1.437em;
}

#player .segments ol {
    list-style-type: none;
    height: 100%;
    overflow: auto;
    margin: 0;
    margin-right: 1.437em;
    padding: 0;
}

#player .segments li {
    overflow: hidden;
    text-indent: .375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

#player .segments ol li.selected {
    color: white;
    background: #00bcd4;
}

#player .segments time {
    margin-right: .75em;
}

/* Adjust height to account for player area. */
.chatview {
    height: 100%;
    overflow: auto;
    font-family: monospace;
    background: #fafafa;
}

.chatview td {
    vertical-align: top;
}

.chatview td:first-child {
    padding-right: 1em;
}

.chatview td:nth-child(2) {
    padding-right: .25em;
    text-align: right;
}

/* All colors shamelessly ripped from the defaults
   I liked in a desktop IRC client I used to use.
   Everyone likely has opinions on their favorites
   so these are probably going to change.
 */

.chattype0 td {
    /* No idea. Slightly dimmed for now. */
    color: #4c4c4c;
}

.chattype1 td:nth-child(2), .chattype2 td:nth-child(2),
.chattype2 td:nth-child(3) span {
    color: #3636b3;
}

.chattype3 td:nth-child(2), .chattype3 td:nth-child(3) {
    color: #2a8c2a;
}

.chattype4 td:nth-child(2), .chattype4 td:nth-child(3),
.chattype5 td:nth-child(2), .chattype5 td:nth-child(3)
{
    color: #66361f;
}

.chattype6 td:nth-child(2), .chattype7 td:nth-child(2),
.chattype7 td:nth-child(3), .chattype8 td:nth-child(2)
{
    color: #80267f;
}

.chattype9 td:nth-child(2), .chattype9 td:nth-child(3) {
    color: #c73232;
}

footer {
    padding-bottom: .5em;
    font-size: .8125em;
    text-align: center;
}
