html, body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4.1255em;
    background: #00bcd4;
    z-index: 0;
}

header {
    margin-bottom: 1em;
    padding: 1em;
    color: white;
}

header h1, #back {
    line-height: 1.417em;
}

header h1 {
    margin: 0 auto;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: 600;
}

body > div {
    position: relative;
    z-index: 1;
    width: 95%;
    width: calc(100% - 2em);
    overflow: hidden;
    margin: 0 auto 1em;
    white-space: nowrap;
}

header h1, body > div {
    max-width: 800px;
}

section, #lists > div + ol, #lists > ul > li,
#lists li > div:before, #lists li > div:after
{
    transition-duration: 750ms;
}

section {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-right: -.25em;
    white-space: normal;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    transition-property: margin-left;
}

#lists {
    overflow: hidden;
    white-space: nowrap;
}

#lists h2 {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    color: #aaa;
    cursor: pointer;
}

#lists h2.active {
    color: #000;
    cursor: default;
}

#lists > div {
    padding-left: .75em;
    overflow: hidden;
}

#lists > div + ol {
    position: relative;
    min-height: 23.244em;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    transition-property: margin-left;
}

#lists > div + ol:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 75px;
    height: 15px;
    margin-top: -7px;
    margin-left: -37px;
    background: -webkit-repeating-linear-gradient(105deg, #00bcd4, #00bcd4 5px, #fff 5px, #fff 10px);
    background: -moz-repeating-linear-gradient(105deg, #00bcd4, #00bcd4 5px, #fff 5px, #fff 10px);
    background: repeating-linear-gradient(105deg, #00bcd4, #00bcd4 5px, #fff 5px, #fff 10px);
    background-size: 110%;
    -webkit-animation: move 350ms linear infinite;
    -moz-animation: move 350ms linear infinite;
    animation: move 350ms linear infinite;
}

@-webkit-keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: 10px;
    }
}

@-moz-keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: 10px;
    }
}

@keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: 10px;
    }
}

#lists > div + ol.loaded:before {
    display: none;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

#lists ul, #lists ol {
    list-style-type: none;
    padding: 0;
}

#lists h2, #lists > ul, #lists > ol {
    line-height: 1.437em;
}

#lists > ul, #lists > ol {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;
}

#lists > ul > li {
    height: 2.437em;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
}

#lists li > div {
    position: relative;
    padding: .5em .75em;
    background: #e0e0e0;
    cursor: pointer;
}

#lists li > div:before, #lists li > div:after {
    content: "";
    position: absolute;
    top: 50%;
    right: .75em;
    width: .937em;
    height: 1px;
    -webkit-transform-origin: 50% .5px;
    -moz-transform-origin: 50% .5px;
    transform-origin: 50% .5;
    background: currentColor;
}

#lists li > div:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

#lists li.open > div:before, #lists li.open > div:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#lists li ol {
    margin: .312em 0;
}

#lists ol li {
    overflow: hidden;
    padding: .5em .75em;
    cursor: pointer;
}

#lists ol li:nth-child(even) {
    background: #fafafa;
}

#lists ol li:hover {
    background: #f0f0f0;
}

#lists time, #lists time + span {
    float: left;
    margin-right: 1.5em;
}

#lists time + span {
    clear: left;
    color: #585858;
}

#lists h3 {
    margin: 0;
    font-size: 1em;
}

#lists h3 span {
    display: block;
    font-weight: normal;
}

#lists h3, #lists h3 span {
    overflow: hidden;
    text-overflow: ellipsis;
}

#back {
    float: left;
    width: 1em;
    overflow: hidden;
    margin-right: .5em;
    font-size: 1.5em;
    white-space: nowrap;
    cursor: pointer;
}

#back:before {
    content: "\3008";
    display: inline-block;
    margin-right: .5em;
    margin-right: 1em;
}

footer {
    padding-bottom: .5em;
    font-size: .8125em;
    text-align: center;
}
